* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div[data-role="page"]{
    background-color: rgba(167, 255, 0, 0.28);
}
div[data-role="header"]{
    background-color: rgba(167, 255, 0, 0.7) !important;
}
ul li a{
    background-color: rgba(167, 255, 0, 0.7) !important;
    left: -7%;
}

#backButton{
    position: absolute;
    left: 10px;
    top: 2px;
    z-index: 11;
}
#backButton a{
    background-color: rgba(203, 208, 100, 0.67);
}
#backButton a:hover{
    background-color: rgb(217, 226, 30);
}
input[type="number"], input[type="text"]{
    margin: 2px !important;
}
.cell{
    width: 100%;
    length: 100%;
    
}
table {
        table-layout:fixed;

    border: 1px solid #000
}
th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}
.plant{
    position: relative;
    font-weight: bold;
    text-align: center;
}
.no-plant{
    position: relative;
    font-weight: normal;
    text-align: center;
}
.table-wrapper{
    padding: 10px;
}
.plant-note{
    position: relative;
    text-align: right;
}
