* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div[data-role="page"]{
    background-color: rgba(167, 255, 0, 0.28);
}
div[data-role="header"]{
    background-color: rgba(167, 255, 0, 0.7) !important;
}
ul li a{
    background-color: rgba(167, 255, 0, 0.7) !important;
    left: -7%;
}

#backButton{
    position: absolute;
    left: 10px;
    top: 2px;
    z-index: 11;
}
#backButton a{
    background-color: rgba(203, 208, 100, 0.67);
}
#backButton a:hover{
    background-color: rgb(217, 226, 30);
}
input[type="number"], input[type="text"]{
    margin: 2px !important;
}
.cell{
    width: 60px;
    length: 60px;
}