<div id="backButton">
    <a href="#" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-back"></a>
</div>
<div data-role="header" >
    <h2 class="ui-title">My Garden</h2>
</div>
<table>
    <% for (var i =0; i<boxes.models.length;i++){ %>
        <div><a href="#" class="boxLink" id='<%=boxes.models[i].get("id")%>'><%=boxes.models[i].get("name")%></a></div>
    <% } %>
</table>
